:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
}

.radio-input-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.25rem;
  width: fit-content;
}

input[type="radio"] {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#header {
  margin: 0;
  margin-right: 0.5rem;
  font-size: 1.125rem;
  display: inline-block;
}

#clearButton {
  cursor: pointer;
  visibility: hidden;
}

:host([selected]) #clearButton {
  visibility: visible;
}
