:root {
  font-family: sans-serif;
  background-color: white;
}

.mainHeader {
  text-align: center;
}

#formatOptionsForm {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#dateHeader {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1rem 0;
  border-bottom: 2px solid black;
}

#inputDateForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#localeAndTimeZone {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem 0.25rem;;
  align-items: baseline;
}

#localeAndTimeZone label {
  justify-self: end;
}

#output {
  font-size: 1.25rem;
  flex-basis: 100%;
}

.optionSet {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 1rem;
  margin-top: 1rem;
  flex-basis: min(50vw, 400px);
  flex-grow: 1;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
}

input.error {
  outline: 2px solid red;
}
