:root {
  --bg-color: hsl(270 30% 90%);
  --text-color: hsl(270 40% 10%);
  --link-color: hsl(270 80% 40%);

  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

a {
  color: var(--link-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: hsl(270 20% 10%);
    --text-color: hsl(270 30% 90%);
    --link-color: hsl(270 70% 80%);
  }
}

.mainHeader {
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--text-color);
  max-width: fit-content;
  margin-bottom: 0.5rem;
}

.intro {
  max-width: 60ch;
  margin: 0 auto;
  padding: 0 0.5rem;
  line-height: 1.5;
}

#formatOptionsForm {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#dateHeader {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  padding: 1rem 0;
  border-bottom: 2px solid var(--text-color);
}

#dateHeader label {
  font-weight: bold;
}

#inputDateForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#localesAndTimeZone {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem 0.25rem;;
  align-items: baseline;
}

#localesAndTimeZone label {
  justify-self: end;
}

#output {
  font-size: 1.25rem;
  flex-basis: 100%;
}

.optionSet {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 1rem;
  margin-top: 1rem;
  flex-basis: 50%;
  max-width: max-content;
  flex-grow: 1;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
}

input.error {
  outline: 2px solid red;
}

footer {
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}
