.mainHeader {
  text-align: center;
}

.functionName {
  width: min-content;
}

.functionNameLabel {
  font-family: monospace;
  text-align: right;
}

.hidden {
  display: none;
}

#formatOptionsForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.optionSet {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
